.navbar{
    position:fixed;
    top:0;
    width: 100%;
    z-index:2;
}
img{
    margin-right:20px;
}
.container{
    border:black 1px solid;
    margin: 0 auto;
    margin-top: 5%;
    background-color: whitesmoke;
    padding: 20px 20px;
}
body{
    background-color: lightgrey;
}
textarea{
    width: 98%;
}
.projectHead{
    padding-bottom: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.row{
    margin: 0 auto;
        
}
.card-header{
    text-align: center;
    background-color: lightseagreen;
    margin-bottom: 20px;
}
.card-footer{
    position:fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    z-index:2;
}



